:root {
    --greenGradient: linear-gradient(135deg, rgba(124,179,66,1) 40%, rgba(0,128,0,1) 100%);
    --myGreen: #7cb342;
    --myRed: #ea4335;
    --redGradient: linear-gradient(130deg, rgba(239,1,7,1) 40%, rgba(234,67,53,1) 100%);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    overflow:hidden;
}
div {
    border-radius: 1.5rem;
}
table {
    border-collapse: collapse;
}
input, select {
    border: 0px;
    border-bottom: 1px solid gray;
    background: transparent;
    transition: all .5s;
}
input:focus, select:focus {
    border-bottom: 1px solid var(--myGreen);
    outline: none;
}
button {
    border: none;
    padding: 0px .5rem;
    outline: none;
    cursor: pointer;
    transition: all .5s;
}
.flotante {
    position: absolute;
    margin: 5vh;
    background-color: white;
}
.shadowRight {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .2)
    /* , -5px -5px 5px 0px rgba(0, 0, 0, .2) */;
}
.shadowLeft {
    box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, .2)
    /* , -5px -5px 5px 0px rgba(0, 0, 0, .2) */;
}
.material-icons, .material-icons-round {
    font-size: 1.8rem;
    margin: 0px 5px;
    cursor: pointer;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scrollBar {
    position: absolute;
    right: 0;
    top: 0;
    background-color: white;
    transition: all .5s;
    border-radius: 0;
    height: 100%;
    width: 6px;
    padding: .6rem 0;
    z-index: 1;
}
.btnRed {
    background-color: var(--myRed);
    /* background: linear-gradient(130deg, rgba(234,67,53,1) 40%, rgba(239,1,7,1) 100%); */
    color: white;
    border: 0;
    transition: all .5s;
    cursor: pointer;
}
.btnRed:hover {
    background-color: red;
}
.contentList {
    position: relative;
    margin: 0 .7rem;
    padding-top: .3rem;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
.listDiv {
    margin: 0 1.1rem 1.5rem 1.1rem;
    padding: 15px;
    /* border: 2px solid #7cb342; */
    transition: all .5s;
    box-sizing: content-box;
    background-color: white;
    border: 0;
}
.listDiv:hover {
    background-color: white;
    z-index: 2;
    transform: scale(1.05);
    /* margin: 0px 5px 15px 5px;
    padding: 20px 15px; */
    cursor: pointer;
}
div .listDiv:last-child {
    margin-bottom: .5rem;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: all .7s;
    z-index: 2;
}
.loading img {
    position: absolute;
    top: 25%;
    width: 15%;
    height: auto;
    animation: 2s showLogo;
}
@keyframes showLogo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.loading svg {
    padding-top: 10%;
    width: 15%;
    height: 15%;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
}
#logoSWOA {
    top: 0;
    right: 2.5%;
    width: 16%;
    padding: 1.2rem;
    border-radius: 50%;
    background: var(--greenGradient);
}
#logoSWOA img {
    width: 100%;
    border-radius: 50%;
}