@media screen and (max-width: 1279px) {
    #infoRest h1 {
        margin-bottom: 0;
    }
    #infoRest p {
        display: none;
    }
}
.btnRed {
    background-color: #ea4335;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}
#divRest {
    height: 90vh;
    width: 28%;
    top: 0;
    left: -35%;
    transition: 1s;
}
#contentRest {
    position: relative;
    width: 100%;
    height: 100%;
}
#btnHideRest {
    right: -15px;
    top: -15px;
}
#divImgRest {
    width: 100%;
    height: 28vh;
}
#divImgRest img {
    width: 100%;
    border-radius: 25px 25px 0px 0px;
}
#infoRest {
    position: absolute;
    width: 100%;
    height: 55vh;
    top: 28vh;
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    box-sizing: border-box;
}
#infoRest p {
    margin: 10px 0px;
}
#optionsRest {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: nowrap;
}
#optionsRest button {
    width: 100%;
    height: 4rem;
    border: none;
    font-size: 1.15rem;
}
#optionsRest button:hover {
    background-color: red;
    transition: 0.5s;
}
#optionsRest button:first-child {
    border-radius: 0px 0px 0px 25px;
}
#optionsRest button:last-child {
    border-radius: 0px 0px 25px 0px;
}
