
body {
	font-size: 1.1rem;
}
p {
    font-size: 1.3rem;
    line-height: 2.5rem;
}
p:last-child { margin-bottom: 0; }

input[type="submit"] {
display: none;
}

input[type="button"] {
  background-color: #7cb342;
  color: white;
  font-size: 1.3rem;
  position: relative;
  left: 250px;
  margin-top: 10px;
  border-radius: 1.5rem;
  border: 0;
  height: 3.3rem;
  padding: .5rem 1rem;
  transition: all .5s;
  cursor: pointer;
}
input[type="button"]:hover {
  cursor: pointer;
  background-color: green;
}
td input[type="password"] {
  width: 90%;
}
input[type="checkbox"] {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5rem;
  margin: auto;
  width: 1.5rem;
  height: 1.5rem;
}
textarea {
   width: 100%;
    height: 15vh;
}
input[type="file"] {
  display: none;
}
select[name="listRest"] {
  width: auto;
  font-weight: bold;
}
p select[name="tipoPlato"] {
  margin-top: 1rem;
}
.tm-bg-transparent {
    background-color: rgba(255, 255, 255, 0.6);
    /* background-color: white; */
    width: 100%;
    height: 100%;
    left: 50%;
    top: 2%;
    padding: 2.5rem 3rem;
    color: black;
}
.tm-bg-transparent > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.tm-bg-transparent .division {
  top: 0;
  height: 71vh;
  border: 1px solid white;
}
.btnAdd {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 4rem;
  height: 4rem;
}
.btnAdd .material-icons-round {
  color: #7cb342;
  font-size: 6rem;
  transition: all .5s;
}
.btnAdd .material-icons-round:hover {
  color: green;
}
.tm-border-white { border: 1px solid rgb(0, 0, 0); }
.media { align-items: center; }



.tm-font-big { font-size: 1.3rem; }

.tm-main-row {
  height: 100vh;
  position: relative;
}

#tmMainNavToggle { display: none; }
#logo .logo {
    width: 18%;
    position: absolute;
    top: 0;
    left: 3%;
  }
.sidebar {
  position: absolute;
    height: 65vh;
    box-sizing: border-box;
    top: 25vh;
    left: 2%;
    background: white;
    width: 20%;
}

.tm-content {
    left: 26%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 80vh;
    width: 71%;
}
/*Restaurante*/

#divImg {
  position: relative;
}
#divImg img {
  width: 100%;
  border-radius: 1.5rem;
}
#divImg .btnGreen {
  width: 55%;
  right: 0;
  left: 0;
  margin: auto;
  bottom: -4rem;
  display: none;
}


#buttonUsu{
  background-color: var(--myGreen);
  color: white;
  font-size: 1.3rem;
  position: relative;
  left: 10px;
  margin-top: 5px;
  border-radius: 1.5rem;
  border: 0;
  height: 3.3rem;
  padding: .5rem 1rem;
  transition: all .5s;
  cursor: pointer;
}
/*tablas usuario*/
#container-Usuarios{
    text-align: center;
    width: 100%;
    max-height: 30vh;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0;
}
#container-Usuarios table {
    width: 100%;
    table-layout: fixed;
}
#container-Usuarios td {
  background-color: rgba(255, 255, 255, 0.4);
}
#container-Usuarios + .btnGreen {
    top: 0;
}
#container-Usuarios tr:hover {
  background-color: rgba(124, 179, 65, 0.5);
}
#container-Usuarios tr:last-child td:first-child {
  border-radius: 0 0 0 1.5rem;
}
#container-Usuarios tr:last-child td:last-child {
  border-radius: 0 0 1.5rem 0;
}
#container-Usuarios td:nth-child(1), th:nth-child(1) {
  width: 7%;
}
#container-Usuarios td:nth-child(2), th:nth-child(2) {
    width: 40%;
}
#cabeceraUsu {
    background-color:#7cb342;
    border-bottom: solid 3px green;
}
#cabeceraUsu th {
  padding: .5rem 0;
}

/*-----------------------------*/
.tm-nav-fa-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #7cb342;
    padding: 8px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 35px;
}

.tm-main-nav a {
    margin: 2rem;
    color: #7cb342;
    text-align: center;
    text-decoration: none;
}
.fa-menu {
	width: 50px;
	height: 50px;
}

.tm-btn {
    padding: 15px 50px;
    font-size: 1.3rem;
    font-weight: 300;
    background: transparent;
    border-color: #000000;
    color: #000000;
    cursor: pointer;
}

.tm-btn:hover,
.tm-btn:focus {
    color: green;
    border-color: green;
}

.tm-btn-submit {
    border-radius: 0;
    display: block;
    padding: 15px 43px;
}


.tm-section {
    display: none;
    height: 100%;
    width: 100%;
    background: transparent;
}
.tm-section:not(#tm-section-2) .divColumn > h2 {
    margin-bottom: .5rem;
}

.col-md-6.tm-contact-col { margin-bottom: 0; }

.tm-icon-media {
  margin-right: 1.5rem;
  margin-bottom: 0;
}

address { font-size: 1rem; }
.form-control {
    background: transparent;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    font-weight: 300;
    border-radius: 0;
    padding: 15px;
}

.form-control:focus {
    background: transparent;
    color: #7cb342;
    border-color: green;
    box-shadow: none;
}
.listDiv {
  margin: 0;
  padding: 1rem;
  border: 2px solid #7cb342;
}
.listDiv:hover, .selected {
  background-color: #7cb342;
  color: white;
}
.divMenu {
  width: 100%;
}
.precioMenu {
  right: 1.1rem;
}
.tableMenu {
  height: 50vh
}
.divForm {
  position: relative;
  float: right;
  margin-left: 5%;
}
.divColumn td {
  position: relative;
  font-size: 1.3rem;
  padding: 1rem .5rem;
}
.divForm td .btnAdd {
  transform: scale(0.4) translate(170%, 0);
}
.divForm table select {
  width: 100%;
}
.msg {
  position: absolute;
  left: .5rem;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 3px #7cb342;
  opacity: 0;
  transition: all .7s;
  z-index: -1;
}
.divColumn {
  position: relative;
  height: 100%;
}
.divColumn header h2 {
  position: absolute;
  top: 0;
  right: 0;
}
.rows {
  overflow-y: scroll;
  height: auto;
  max-height: 21vh;
  border-radius: 0;
}
.rows td .material-icons-round {
  left: 3.5rem;
}
.detallePlatos {
    height: 43vh;
    margin-top: 1rem;
}
.rows input, .detallePlatos input {
  width: 80%;
  text-align: center;
}
.detallePlatos .selected {
  background: transparent;
}
.detallePlatos td .material-icons-round,
.rows td .material-icons-round {
  position: absolute;
  top: .7rem;
  color: var(--myRed);
  font-size: 2.5rem;
  z-index: 1;
}
.detallePlatos td .material-icons-round {
  left: -3rem;
}
.scrollBar {
  background: transparent;
}
.btnGreen {
  background-color: #7cb342;
  color: white;
  font-size: 1.3rem;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 1.5rem;
  border: 0;
  height: 3.3rem;
  padding: .5rem 1rem;
  transition: all .5s;
  cursor: pointer;
}
.btnGreen:hover {
  background-color: green;
}
.btnDelete {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--myRed);
}
.btnDelete .material-icons-round {
  color: white;
  font-size: 2.5rem;
}
.loading svg {
  width: 35%;
  height: 35%;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}
#tmSideBar > div {
  width: 75%;
  /* max-width: 80%; */
  padding: 0;
}
#fondoAdmin {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#btnSalir {
  position: absolute;
  bottom: 0;
  margin: auto;
  margin-bottom: -4rem;
  padding: .7rem 1.5rem;
  z-index: 1;
  border-radius: 1.5rem;
  outline: none;
}
#permisos .material-icons-round {
  top: .7rem;
}
#tm-section-4 > div > .flex {
  display: block;
}
#tm-section-4 .division {
  height: 0;
  width: 100%;
  position: relative;
  left: 0;
}
#tm-section-4 .divColumn {
  width: 100%;
  /* height: auto; */
  height: 40vh;
}
#tm-section-4 .divForm {
  margin-top: 1.5rem;
  height: 27vh;
}
#formNewUser td:nth-child(3) {
  padding: 1rem 0 1rem 1.5rem;
}
#formNewSalaComida td {
  padding-bottom: .5rem;
}
#formNewSalaComida label {
    margin: 0;
}  
#formNewSalaComida .btnGreen {
  position: relative;
  /* top: 0;
  left: 0;
  right: auto; */
}
#map {
  height: 45vh;
  border: 2px solid #ea4335;
}
#map + .btnRed {
  font-size: 1.5rem;
  /* line-height: 4rem; */
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 1.5rem;
  width: 40%;
  box-sizing: border-box;
  padding: .7rem;
}
#nameFile {
  text-align: right;
  float: right;
  width: 0;
  margin: .7rem;
}
#divImg label {
  display: block;
}
.btnRed img {
  height: 4rem;
  padding-left: .7rem;
}
@media (max-width: 1800px) {
  /* .tm-section { margin-right: auto; } */
}

@media (max-width: 1724px) {
  .tm-nav-fa-icon { margin-right: 25px; }

  /* .tm-main-nav a {
    margin: 20px 0 35px 0;
    padding-right: 10px;
  } */

  /* .tm-content { padding: 50px 5%; } */
}

@media (max-width: 1400px) {

    /* .tm-main-nav { font-size: 1.4rem; } */
    /* .tm-main-nav a { padding-right: 10px; } */
    .tm-nav-fa-icon { margin-right: 25px; }

    /* .sidebar {
      padding: 60px 30px;
    } */
}

/* @media (max-width: 1340px) {
  .tm-content {
    padding: 50px;
    margin: 0 auto;
  }
} */

@media (max-width: 1199px) {
  .col-md-6.tm-contact-col {
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
  }
}

@media (max-width: 991px) {


    /* .tm-main-row { position: relative; } */

    #tmMainNavToggle {
        display: block;
        position: absolute;
        right: -60px;
        top: 0;
    }

    .menu-icon {
        padding: 10px 15px;
        background: green;
        border: 1px solid;
        color: #7cb342;
        cursor: pointer;
        margin-top: 4px;
        margin-left: 4px;
        border-radius: 5px;
        width: 60px;
        height: 50px;
        z-index: 1001;
    }

    /* #tmSideBar {
        width: 300px;
        position: absolute;
        min-height: 100vh;
        height: auto;
        left: -300px;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    #tmSideBar.show { left: 0; }

    .sidebar {
        background: #ffffff;
        padding: 20px;
    } */

    /* .tm-main-nav a {
      padding-bottom: 20px;
      margin: 20px 0 25px 0;
    } */

    /* .tm-section { margin-left: auto; } */

    .tm-section-carousel {
      max-width: 620px;
      width: 100%;
    }
}

/* @media (max-width: 767px) {
  .tm-content { padding: 50px 30px; }
} */

@media (max-width: 640px) {
  .tm-section-carousel {
    max-width: 300px;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
    .tm-contact-box-pad { padding: 30px 25px; }

    .footer-link {
      margin: 0 auto;
      width: 90%;
    }
}

@media (max-width: 500px), (max-width: 809px) and (min-width: 767px) {
  .media { flex-direction: column; }
  .tm-icon-media {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }
}
