@media screen and (max-width: 1279px) {
    .heightMenu {
        height: 36vh;
    }
    #detalleMenu .heightMenu {
        height: 47vh;
    }
}
@media screen and (min-width: 1280px) {
    .heightMenu {
        height: 30vh;
    }
    #detalleMenu .heightMenu {
        height: 49vh;
    }
}
.divMenu {
    position: relative;
    margin-top: 5px;
}
.divMenu .scrollBar {
    top: 3.5rem;
}
.divMenu h2 {
    padding: .5rem 0;
}
.precioMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 .7rem;
    background-color: #7cb342;
}
.tableMenu {
    margin-top: 1rem;
    border-radius: 0;
    overflow-y: scroll;
    overflow-x: hidden;
}
.tableMenu td {
    padding-top: 0 !important;
}
.tableMenu .itemMenu {
    display: inline-flex;
}
.tipoPlatoMenu {
    padding-bottom: 0 !important;
}
.tipoPlatoMenu + td {
    display: inline-flex;
    padding: 0 !important;
    color: var(--myGreen);
}
.itemMenu {
    font-size: 1.4rem;
    padding: 1rem 0px !important;
}
.itemMenu .material-icons-round {
    color: var(--myRed);
    bottom: 0;
}
.tipoMenu {
    width: 10rem;
    font-size: 1.8rem;
    font-weight: bold;
}
.precioNormal {
    background-color: #ea4335;
    top: 3.5rem;
    z-index: 1;
}
.precioNormal h2 {
    font-size: 1.2rem;
}