@media screen and (max-width: 1279px) {
    .heightMenu {
        height: 34vh;    
    }
    #detalleMenu .heightMenu {
        height: 41vh;    
    }
}
@media screen and (min-width: 1280px) {
    .heightMenu {
        height: 30vh;
    }
    #detalleMenu .heightMenu {
        height: 43vh;    
    }
}
.divMenu {
    position: relative;
    margin-top: 5px;
}
.divMenu h2 {
    padding: 7px 0px 7px 0px;
}
.precioMenu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 10px;
    background-color: #7cb342;
}
.tableMenu {
    margin-top: 7px;
    border-radius: 0;
    overflow-y: scroll;
}
.tableMenu td {
    padding-top: 0;
}
.itemMenu {
    font-size: 1.4rem;
    padding: 15px 0px;
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
}
#tipoMenu {
    width: 10rem;
    font-size: 1.8rem;
    font-weight: bold;
}
#precioReducido {
    background-color: #ea4335;
    top: 4rem;
    z-index: 1;
    color: white;
}
#precioReducido h2 {
    font-size: 1.2rem;
}