.fondoModal {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    bottom: -100vh;
    left: 0;
    height: 100vh;
    width: 100vw;
    border-radius: 0;
    transition: .7s;
    z-index: 2;
}
.btnHide {
    position: absolute;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.divColumn {
    width: 48%;
}
.division {
    position: absolute;
    left: 50%;
    height: 58vh;
    border-left: 2px solid lightgray;
}
.swal-container {
    border-radius: 0;
}
.swal2-confirm {
    background-color: #7cb342 !important;
}
.swal2-cancel {
    background-color: #ea4335 !important;
}