#symbolSoles {
    font-size: 3.3rem;
    margin: 0;
}
#btnOfertas {
    top: 0;
    right: 0;
    width: 12%;
    height: 20vh;
    text-align: center;
    background-color: #7cb342;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.7s;
}
#btnOfertas:hover {
    background-color: green;
    transition: 0.7s;
}
#divOfertas {
    position: absolute;
    width: 22%;
    right: 0;
    top: 25vh;
    height: 65vh;
    transition: 1s;
}