#divOfertas {
    position: absolute;
    width: 24%;
    right: 0;
    top: 25vh;
    height: 65vh;
    transition: 1s;
}
#contentOfertas {
    margin: 1.8rem .7rem;
    height: 59vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#contentOfertas > div:not(.scrollBar) {
    margin: 0px 10px 15px 10px;
    padding: 15px;
    border: 2px solid #7cb342;
    /* background-color: #7cb342; */
    transition: .5s;
    box-sizing: border-box;
}
#contentOfertas table {
    position: relative;
    font-size: 1.1rem;
    width: 100%;
}
#contentOfertas td:nth-child(2) {
    width: 43%;
}
#contentOfertas h3 {
    padding-top: 3px;
}
#contentOfertas button {
    position: absolute;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: .8rem;
    border: none;
    right: 0;
    bottom: 0;
}
#contentOfertas .scrollBar {
    height: 60vh;
    top: 1.5rem;
    /* right: -10px; */
}
#contentOfertas > div:hover:not(.scrollBar) {
    background-color: #7cb342;
    margin: 0px 5px 15px 5px;
    padding: 20px 15px;
    transition: .5s;
}