@media screen and (max-width: 1279px) {
    #infoRest h1 {
        margin-bottom: 0;
    }
    #infoRest p {
        display: none;
    }
}
.divRest {
    width: 28%;
    top: 0;
    transition: all 1s;
    max-height: 90vh;
}
.divRest > h1 {
    margin: 1.5rem 0 1.2rem 2rem;
}
.divRest:not(#divRest) {
    padding-bottom: 1rem;
    /* background: linear-gradient(135deg, rgba(234,67,53,1) 20%, rgba(255,0,0,1) 100%); */
    background: linear-gradient(135deg, rgba(124,179,66,1) 20%, rgba(0,128,0,1) 100%);
}
#contentRest span {
    display: none;
}
#contentRest .listDiv{
    position: relative;
}
#divRest {
    height: 90vh;
    left: -35%;
}
#btnHideRest {
    right: -15px;
    top: -15px;
    border-radius: 1.5rem;
}
#divImgRest {
    width: 100%;
    height: 28vh;
    overflow: hidden;
    border-radius: 1.5rem 1.5rem 0 0;
}
#divImgRest img {
    min-width: 100%;
    max-width: 110%;
    min-height: 100%;
    max-height: 110%;
    border-radius: 1.5rem 1.5rem 0 0;
}
#infoRest {
    position: absolute;
    width: 100%;
    height: 55vh;
    top: 28vh;
    background-color: white;
    border-radius: 0px 0px 25px 25px;
    padding: 20px;
    box-sizing: border-box;
}
#infoRest p {
    margin: 10px 0px;
}
#optionsRest {
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: nowrap;
}
#optionsRest button {
    width: 100%;
    height: 4rem;
    border: none;
    font-size: 1.15rem;
}
#optionsRest button:first-child {
    border-radius: 0px 0px 0px 1.5rem;
}
#optionsRest button:last-child {
    border-radius: 0px 0px 1.5rem 0px;
}
